/* Fuentes */
@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Regular.ttf);
}

/* @font-face {
    font-family: "Roboto";
    src: url(./fonts/Satisfy-Regular.ttf);
} */
 
/* Modelo de caja alternativo */
* {
    box-sizing: border-box;
}

/* Respetar margenes */
body,
h1,
h2,
p,
figure {
    margin: 0;
    padding: 0;
}

/*
Raíz definir:
*/
:root {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.8rem;
    color: #333;
}

/* estilos */
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*---------------------- HEADER --------------------------*/

.cabecera-principal {
    /* position: sticky; */
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 10%;
    background-color: rgba(81, 112, 255, 1);
    backdrop-filter: blur(30px);
    /* border: #000000 solid 0.1px; */
    box-shadow:
    -0.5px -0.5px 0 rgb(0, 0, 0),
     0.5px -0.5px 0 rgb(0, 0, 0),  
    -0.5px  0.5px 0 rgb(0, 0, 0),  
     0.5px  0.5px 0 rgb(0, 0, 0);;
    
}

.cabecera-principal > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    color:#333;
}
.cabecera-principal > a > img {
    display: flex;
    align-items: center;
    width: 110px;
    margin: 0;
}

.cabecera-principal nav a, li, ul {
    text-decoration: none;
    color: #ffffff;
    list-style-type: none;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

/*
.cabecera-principal nav a, li {
    text-decoration: none;
    color: #ffffff;
}

.cabecera-principal nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}
*/

/*---------------------- BODY --------------------------*/

.contenido-principal {
    flex-grow: 1;
    padding-bottom: 10%;
}

.contenido-principal .imagen-hero {
    width: 100%;
    height: 400px;
    object-fit:cover;
    object-position:center;

}

/* 
.info{
    position: absolute;
} */

.contenido-principal h1 {
    text-align: center;
    margin: 5% 0;
    color: #5170ff;
}

/* Clase para las secciones del main */
.seccion-principal {
    margin: 40px 120px;
    text-align: center;
    padding: 10px;
    color: #fff;
    background-color: #5170ff;
    border-radius: 8px;
    border: #000000 solid 0.5px;
}

.seccion-principal h2{
    margin: 1rem;
    color: #fff;
    text-shadow:
    -0.7px -0.7px 0 rgb(0, 0, 0),
     0.7px -0.7px 0 rgb(0, 0, 0),  
    -0.7px  0.7px 0 rgb(0, 0, 0),  
     0.7px  0.7px 0 rgb(0, 0, 0);
}

.seccion-principal img{
    display: block;
    object-fit: cover;
    margin: 0 auto;
    width: 300px;
    height: 200px;
    border: #000000 solid 0.5px;
}

.img-doble{
    margin: 0 auto;
    display: flex;
    width: 300px;
    height: 200px;
    border: #000000 solid 0.5px;
}

.img-doble img{
    width: 150px;
    height: 200px;
}

.seccion-principal span{
    margin: 0.5rem;
    padding: 2%;
    /* border: none; */
    border-radius: 0.5rem;
    background-color: #952f37dc;
}

.seccion-principal p{
    color: #ffffff;
    font-weight: bold;
}

.seccion-principal article{
    display: inline-flex;
    flex-direction: column;
    margin: 10.5px;
}


.seccion-principal .boton-productos{
    margin: 1rem auto;
    width: 250px;
    height: 37px;
    border: #000000 solid 0.3px;
    border-radius: 5mm;
    background-color: #952f37;
    color: #fff;
    font-size: medium;
    cursor: pointer;
}

.linea-divisora{
    display: block;
    margin: 1.5rem auto; /* Auto en los lados centra horizontalmente */
    max-width: 80%;
    height: auto;
}

.barra-de-busqueda{
    background-color: #5170ff;
    color: #fff;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    margin: 10px 120px 40px 120px;
}

.barra-de-busqueda input{
    border-radius: 5px;
    width: 300px;
}

/* Formulario de Contacto */

.formulario-pedidos {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;

}

.formulario-pedidos input,.formulario-pedidos select {
    padding: 5px 10px;
    font-size: inherit;
    font-family: inherit;
    margin-bottom: 15px;

}

.formulario-pedidos button {
    padding: 10px;
    margin: 15px 0;
    font-size: inherit;
}

/*---------------------- FOOTER --------------------------*/
i{
    font-size: 45px;
    color: #2a272a;
}

.pie-principal {
    background-color: rgba(81, 112, 255, 1);
    color:#fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 10px 0px;
    /*justify-content: center;*/
}

.pie-principal h3{
    margin: 5px;
}

.pie-principal section, a{
    display: flex;
    gap: 20px;
    text-decoration: none;
}

/* -------------------------------------------------------------------------------------- */

/* Estilos Específicos para Mobile (hasta 600px de ancho) */

@media screen and (max-width: 600px) {
  body {
    padding: 10px;
  }

  
}

/* -------------------------------------------------------------------------------------- */

/* Estilos Específicos para Desktop (a partir de 601px de ancho) */

@media screen and (min-width: 601px) {
  

}
