/* Fuentes */
@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Regular.ttf);
}

/* @font-face {
    font-family: "Roboto";
    src: url(./fonts/Satisfy-Regular.ttf);
} */
 
/* Modelo de caja alternativo */
* {
    box-sizing: border-box;
}

/* Respetar margenes */
body,
h1,
h2,
p,
figure {
    margin: 0;
    padding: 0;
}

/*
Raíz definir:
*/
:root {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.8rem;
    color: #333;
}

/* estilos */
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cabecera-principal {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 10%;
    background-color: rgba(148, 227, 255, 0.5);
    backdrop-filter: blur(30px);
}


.cabecera-principal > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    color:#333;
}
.cabecera-principal > a > img {
    display: flex;
    align-items: center;
    width: 120px;
    margin: 0;
}
.cabecera-principal nav {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.cabecera-principal nav a {
    text-decoration: none;
    color: #333;
}

.contenido-principal {
    flex-grow: 1;
    padding-bottom: 10%;
}

.contenido-principal .imagen-hero {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.contenido-principal section {
    padding: 0 10%;
}
.contenido-principal h1 {
    text-align: center;
    margin: 5% 0;
}

/* Clase para el párrafo */
.parrafo-principal {
    text-align: center;
    padding: 20px;
    color: #505050;
    background-color: #dbdbdb;
    margin-bottom: 20px;
    border-radius: 8px;
}

.pie-principal {
    background-color: #0c689a;
    color:#fff;
    display: flex;
    justify-content: center;
}

.pie-principal ul {
    list-style: none;
    text-align: center;
}

.formulario-pedidos {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;

}

.formulario-pedidos input,.formulario-pedidos select {
    padding: 5px 10px;
    font-size: inherit;
    font-family: inherit;
    margin-bottom: 15px;

}

.formulario-pedidos button {
    padding: 10px;
    margin: 15px 0;
    font-size: inherit;
}

/* -------------------------------------------------------------------------------------- */

/* Estilos Específicos para Mobile (hasta 600px de ancho) */

@media screen and (max-width: 600px) {
  body {
    padding: 10px;
  }

  
}

/* -------------------------------------------------------------------------------------- */

/* Estilos Específicos para Desktop (a partir de 601px de ancho) */

@media screen and (min-width: 601px) {
  

}
